* {
    transition: all 0.5s ease;
}

body {
    letter-spacing: -0.5px;
    background-color: #8bf2fdc5;
    /* padding: 1rem calc(2/12*100%) 1rem calc(2/12*100%); */
    color: #FEFCFE;
    overflow: hidden;
    margin-bottom: 500px;
}

/*      NAVIGATION STYLING       */
#website-nav {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1em calc(2/12*100%);
    background-color: transparent;
    -webkit-backdrop-filter: blur(800px);
    backdrop-filter: blur(800px);
}

.website-name {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5px;
    color: #FEFCFE;
}

.logo,
.website-actions {
    display: flex;
}

#website-nav li,
.action-buttons li {
    list-style: none;
}

.items,
.log-in a {
    display: flex;
    /* border: 1px solid black; */
    margin-right: 1rem;
    flex: 1;
    flex-direction: row-reverse;
}

.items a {
    color: white;
    text-decoration: none;
}


.log-in a {
    color: white;
    text-transform: uppercase;
    flex-direction: row;
}

.items a:hover,
.log-in a:hover,
.log-out:hover {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.about-us a,
.log-in a,
.log-out a {
    color: black;
}

.log-out a {
    color: white;
    display: flex;
    text-transform: uppercase;
    padding: 0;
}

.website-actions {
    padding-left: 0;
    align-items: center;
}

/* LOGOUT LINK */
.website-actions li:nth-child(1) a {
    padding-right: 1rem;
}



.enter-link a {
    border-radius: 100em;
    border: 1px solid white;
    color: #05445E;
}

.enter-link,
.home-link {
    background-color: white;
    border-radius: 100rem;
}

.home-link a {
    border-radius: 100rem;
    border: 2px solid white;
    stroke: black;
}

.link a {
    font-weight: 500;
    text-decoration: none;
    padding-right: 5em;
    color: black;
}

.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100em;
}

.button>a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    padding: 0.6rem 1.2rem;
    color: #05445E;
}

.add-contact>button,
.fake-add-contact button,
#add-contact-button button {
    background-color: #05445E;
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    padding: 0.4rem 0.7rem;
    color: white;
    border-radius: 0.5rem;
    padding-top: 0.7em;
    border: 1px solid #05445E;
    transition: all 0.4s ease;
}

#add-contact-button button {
    text-transform: uppercase;
    padding: 0.8em 1.4em;
}

.save-button:hover {
    background-color: rgba(255, 255, 125, 0.909);
}

.add-contact>button:hover,
.fake-add-contact button:hover,
#add-contact-button button:hover,
#log-in-button button:hover {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.834);
    color: #05445E;
    border: 1px solid #05445E;
    transition: all 0.3s ease;
}

.add-contact svg:hover path,
.fake-add-contact svg:hover path,
#add-contact-button svg:hover path {
    fill: #05445E;
    stroke: #05445E;
}

input[type=text],
td input {
    border: none;
}

td input {
    background: none;
    width: 7em;
    text-align: center;
}




/* ENTER ICON SVG STYLING WITHIN LOGIN BUTTON */
.svg {
    vertical-align: middle;
    padding-top: 0.1rem;
    padding-left: 0.3rem;
}

.svg>path {
    stroke-width: 1.2;
    color: #05435e;
}

#add-contact-button svg {
    margin-left: 0.5rem;
}

.svg:hover path {
    stroke: white;
}

/*      MAIN CONTENT STYLING      */
.main-content {
    margin-left: calc(2/12*100%);
    margin-right: calc(2/12*100%);
    display: flex;
    height: 80vh;
}

hr {
    width: 80%;
    margin: 2em;
    border: none;
    height: 1.3px;
    color: #05435e;
    background-color: #05435e;
}

hr[class="search-line"] {
    padding: 0;
    margin: 1em;
    margin-top: -1em;
    width: 55%;
    margin-right: 8rem;
    height: 1px;
}


/* HEADER SECTION */

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.get-started a {
    border: 2px solid white;
    border-radius: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.get-started a:hover,
.enter-link a:hover {
    border: 2px solid white;
    background-color: #05435e;
    color: white;
    --shadow-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 2px 8px var(--shadow-color));
    transition: all 0.4s ease;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50%;
    flex-direction: column;
}

.main-content .contactDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50%;
    flex-direction: column;
}

.content h1 {
    line-height: 3em;
}

#last-two-sentences {
    line-height: 2.7em;
}

#sentence-1 {
    flex-direction: column;
    letter-spacing: -5px;
    font-size: 3.3em;
    font-weight: 620;
}

#sentence-2 {
    letter-spacing: -3px;
    font-weight: 300;
    font-size: 3em;
}


#sentence-3 {
    letter-spacing: -3px;
    font-weight: 100;
    font-size: 2.5em;
    font-style: italic;
}

.fake-search-model p {
    margin-bottom: 1em;
}

/* CONTACT TABLE */

.contact-table {
    text-align: center;
    width: 70%;
    border: 2px solid #05435e;
    border-radius: 0.5em;
    padding: 1.2rem 1.5rem;

}

.table-header,
.fake-table-header {
    color: #05445E;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0 1em 0;
}

.fake-table-header {
    width: 65%;
}

.refresh-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.4s ease;
    border-radius: 100rem;
}

.refresh-button a svg:hover {
    transform: rotate(360deg);
    transition: all 1.4s ease;
    stroke: #05435e;
}

.refresh-button a {
    padding-left: 0.4em;
    transition: all 1.4s ease;
}

tbody svg {
    stroke-width: 1.4;
}

thead tr:nth-child(2) th {
    padding-bottom: 1em;
}

.table-actions td {
    width: 10px;
}

.table-body tr>td {
    padding: 0;
    padding-bottom: 1em;
    border-top: 1px solid black;
    padding-top: 1em;
}

.table-contact-info:last-child {
    margin-right: 3em;
}

.table-contact-info th {
    padding-bottom: 2em;
}

.currently-editing {
    font-weight: 600;
    background-color: rgba(255, 255, 0, 0.451);
}

tr[id*="data-row"] {
    transition: all 0.4s ease;
}

.confirm-delete {
    background-color: rgba(255, 107, 107, 0.691);
    transition: all 0.4s ease;
}

.display-table {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: #05445E;
    transition: all 0.3s ease;
    font-weight: 500;
    width: 80%;
}

.display-table:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-12px);
    transition: all 0.3s ease;
    color: #05445E;
}

/* SEARCH AREA */
#profile-contact-table .search-model {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: sans-serif;
    margin-bottom: 1em;
    justify-content: center;
    color: #05445E;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.527);
}

#profile-contact-table .search-model>input {
    background-color: transparent;
    margin-left: 3em;
    text-align: center;
    width: 50%;
    border-bottom: 1.5px solid #05435e;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    color: black;
    transition: all 0.3s ease;
}

#profile-contact-table .search-model>input::placeholder {
    color: rgba(0, 0, 0, 0.653);
}

.search-model>input:hover {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all 0.3s ease;
    transform: translateY(-3px);
}

#profile-contact-table .search-model button:hover {
    transition: all 0.3s ease;
    background-color: #05435e9b;
    color: white;
}

.search-key-text {
    font-size: 0.9rem;
    font-weight: 300;
    color: #032f42;
}

.search-key-text span {
    font-style: italic;
    font-weight: 800;
    font-size: 1.2rem;
}

.fake-search-button,
.search-button {
    background-color: white;
    margin-left: 2em;
    border: none;
    border-radius: 100em;
    padding: 0.8em 1.2em;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid white;
    color: #05445E;
}

.fake-search-button {
    color: #05445E;
}

.search-button {
    margin-left: 1em;
}

.search-button:hover,
.home-link a:hover {
    background-color: white;
    color: #05445E;
}

/* PROFILE PAGE STYLING */
.welcome-header,
.profile-card,
#profile-contact-table,
.content-card,
.inner-title,
.profile-photo,
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    flex-wrap: wrap;
}

.welcome-header {
    width: 50%;
    /* border: 1px solid black; */
    text-align: center;
    height: 60%;
}

.header-content {
    line-height: 2em;
}

#sentence-4,
#sentence-5 {
    font-size: 3rem;
    font-weight: 150;
}

#sentence-6 {
    letter-spacing: -2px;
    font-size: 3.4rem;
    font-weight: 400;
}

/* PROFILE CARD */
.profile-card {
    /* border: 1px solid black; */
    width: 50%;
    height: 60%;
}

.profile-card,
.welcome-header {
    height: 50%;
}

.card-content {
    display: flex;
    width: 100%;
    height: 65%;
    border: 2px solid #05435e;
    border-radius: 0.8em;
    flex-wrap: wrap;
}

.card-content .inner-title {
    width: 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    height: 4rem;
    background-color: #05435ed9;
    color: white;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.profile-photo img {
    height: 70%;
    width: 48%;
    mix-blend-mode: overlay;
}

.profile-photo,
.user-info {
    /* background-color: rgba(255, 127, 238, 0.435); */
    width: 50%;
    height: 75%;
}

.user-info {
    padding-right: 4em;
    flex-direction: column;
}

.user-info #full-name {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.user-info #contact-info-list ul {
    display: flex;
    flex-direction: column;
    padding-right: 3em;
}

.user-info #contact-info-list ul li {
    display: flex;
    width: 100%;
    list-style: none;
}

.user-info #contact-info-list ul li:nth-child(1) {
    margin-top: 1em;
}

#contact-info-list ul li .info-type {
    font-weight: 700;
    margin-right: 0.4em;
}

#contact-info-list ul li .user {
    margin-right: 0.8em;
}

.user-info #contact-info-list ul li:nth-child(3) p {
    margin-left: 0.175em;
}

/* CONTACT TABLE */
#profile-contact-table {
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

#profile-contact-table .contact-table {
    background-color: white;
    color: #05435e;
}

/*  FORM DIVS */
#profile-contact-table .contactDiv {
    width: 90%;
    border-spacing: 15px;
    margin-bottom: 5em;
}

#profile-contact-table .add-contact>button {
    margin-left: 14em;
}

/* ADDING CONTACTS STYLING */
#adding-contact,
#user-signup,
#loginDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    /* border: 1px solid black; */
    border-radius: 0.5em;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

#add-contact-header,
#log-in-header,
#signup-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4f1f4;
    padding: 1.3em;
    font-weight: 700;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    margin-bottom: 2em;
    color: #05435e;
}

#log-in-header,
#signup-header {
    color: white;
    font-weight: 450;
    font-size: 1.2em;
    padding: 0.6em;
    background-color: #05445E;
    margin-bottom: 3em;
}

#add-contact-header p,
#log-in-header p,
#signup-header p {
    text-transform: uppercase;
    font-size: 1.2em;
}

#log-in-header p,
#signup-header p {
    margin-right: 0.3em;
    text-transform: none;
}

#add-contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.3em 1em;
    padding-bottom: 0.5em;

}

#add-contact-button button {
    background-color: #75E6DA;
    border: 1px solid #75E6DA;
    color: #05435e;
}

.contact-border {
    background-color: rgba(255, 255, 255, 0.232);
    width: 70%;
    border: 1px solid rgba(139, 242, 253, 0.773);
    margin-bottom: 3em;
    border-radius: 0.8em;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.6);
    transition: all 2s ease;
}

#add-user-inputs,
#add-login-inputs,
#new-user-inputs {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0.5rem;

}

#add-user-inputs input,
#add-login-inputs input,
#new-user-inputs input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #05435e;
    border-top-right-radius: 0.34em;
    border-bottom-right-radius: 0.34em;
    padding: 0.34em;
    text-align: center;
    font-weight: 600;
    border-left: 0;
    transition: all 0.5s ease;
    color: black;
}

#add-user-inputs input::placeholder,
#add-login-inputs input::placeholder,
#new-user-inputs input::placeholder {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.599);
}

#add-user-inputs input:hover,
#add-login-inputs input:hover,
#new-user-inputs input:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease;
}

#add-user-inputs label,
#add-login-inputs label,
#new-user-inputs label {
    border: 1px solid #05435e;
    margin: 0.3em;
    text-align: center;
    background-color: #D4F1F4;
    color: #05435e;
    padding: 0.5em 1em;
    margin-right: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right: 0;
}

#add-login-inputs label,
#new-user-inputs label {
    background-color: #05445E;
    color: #FEFCFE;
}

#add-user-inputs div:nth-child(1) input {
    width: 200px;
}

#add-user-inputs div:nth-child(2) input {
    width: 200px;
}

#add-user-inputs div:nth-child(3) input {
    width: 150px;
}

#add-user-inputs div:nth-child(4) input {
    width: 320px;
}

#addPhoneNumberText {
    margin-top: 0.5rem;
}

#addEmailText {
    margin-top: 0.5rem;
    width: 100%;
}

.addContactResult {
    display: block;
}

span[id*="Result"] {
    font-weight: 600;
    text-transform: uppercase;
}


/* FORM STYLING  */
.action-area {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* LOG IN AREA */
#add-login-inputs {
    flex-direction: column;
}

#add-login-inputs div:nth-child(1) input {
    width: 70%;
}

#add-login-inputs div:nth-child(2) input {
    width: 70%;

}

#add-login-inputs div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5em;
}

#add-login-inputs div:nth-child(2) {
    margin-bottom: 2.2em;
}

#add-login-inputs div label {
    padding: 5.440px 2.2em;
}

#add-login-inputs div:nth-child(2) label {
    padding: 5.440px 2.4em;

}

#user-login,
#user-signup {
    background-color: #FEFCFE;
    border-radius: 0.8em;
    border: 1px solid #05445E;
    width: 60%;
}

#log-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

#log-in-button button {
    border: 1px solid #05445E;
    text-transform: uppercase;
    border-radius: 100em;
    padding: 0.8em 1.2em;
    color: #FEFCFE;
    background-color: #05445E;
}

.change-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    color: black;
}

.change-action div {
    margin-left: 1em;
}

.change-action div a {
    background-color: black;
    color: white;
    padding: 0.3em 0.5em;
    border: 2px solid black;
}

.change-action div a:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    box-shadow: none;
}

.change-action div svg path {
    stroke: white;
}

.change-action div svg:hover path {
    stroke: black;
}

/* SIGN UP AREA */
#user-signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#new-user-inputs {
    width: 100%;
}

#signUpName {
    margin-top: 0.5rem;
}

#new-user-inputs div:nth-child(1) input {
    width: 200px;
}

#new-user-inputs div:nth-child(2) input {
    width: 200px;
}

#new-user-inputs div:nth-child(3) input {
    width: 485px;
}

#new-user-inputs div:nth-child(4) input {
    width: 490px;
}

#new-user-inputs div:nth-child(3) label {
    padding-left: 2em;
    padding-right: 2em;
}

#new-user-inputs div:nth-child(4) label {
    padding-left: 2em;
    padding-right: 2em;
}

#signUpPassword {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

#know-text {
    font-weight: 300;
    letter-spacing: 1.3;
    font-style: italic;
}

/* FOOTER */
.footer {
    display: block;
    position: fixed;
    bottom: 0%;
    text-align: center;
    left: 0;
    width: 100%;
}