body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpDiv {
    text-align: center;
}

#signUpDiv input {
    text-align: center;
    margin-top: 1vh;
    border: 2px solid;
    border-radius: 1vh;
    border-color: black;
}

#name1 {
    margin-top: 0;
    border-top: 1px solid;
}

#inner-title {
    display: block;
    font-weight: 800;
    font-size: 3vh;
    border-bottom: 1px solid;
    padding-bottom: 2vh;
}

#signUpButton {
    border: 2px solid;
    margin-top: 2vh;
    border-color: black;
    background-color: transparent;
    border-radius: 1rem;
    padding: 0 1rem;
}

#signUpButton:hover {
    border: 2px solid;
    margin-top: 2vh;
    border-color: black;
    background-color: rgb(255, 157, 157);
    border-radius: 1rem;
}

#signUpButton:active {
    border: 2px solid;
    margin-top: 2vh;
    border-color: black;
    background-color: black;
    border-radius: 1rem;
    color: white;
}