body {
    letter-spacing: -0.5px;
    /* display: flex; */
    padding: 1rem calc(2/12*100%) 1rem calc(2/12*100%);
}

/*      NAVIGATION STYLING       */
#website-nav {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1em;
}

.website-name {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.logo {
    display: flex;
}

#website-nav li,
.action-buttons li {
    list-style: none;
}

.items,
.log-in a {
    display: flex;
    /* border: 1px solid black; */
    margin-right: 1rem;
    flex: 1;
    flex-direction: row-reverse;
}

.log-in a {
    text-transform: uppercase;
    flex-direction: row;
}

.items:hover,
.log-in:hover {
    text-decoration: underline;
}

.about-us a,
.log-in a {
    color: black;
}

.enter-link {
    background-color: black;
    border-radius: 100rem;
}

.link a {
    font-weight: 500;
    text-decoration: none;
    padding-right: 5em;
}

.button>a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    padding: 0.6rem 1.2rem;
    color: white;
}

.add-contact>button {
    background-color: black;
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    padding: 0.4rem 0.7rem;
    color: white;
    border-radius: 0.5rem;
    padding-top: 0.7em;
    border: none;
}

.add-contact {
    padding-left: 14em;
}


/* ENTER ICON SVG STYLING WITHIN LOGIN BUTTON */
.svg {
    vertical-align: middle;
    padding-top: 0.1rem;
    padding-left: 0.3rem;
}

.svg>path {
    stroke-width: 1.2;
}

.add-contact-button {
    padding-left: 0.5rem;
}

/*      MAIN CONTENT STYLING      */
.main-content {
    display: flex;
    height: 80vh;
}

hr {
    width: 80%;
    margin: 2em;
    border: none;
    height: 1.3px;
    color: black;
    background-color: black;
}

hr[class="search-line"] {
    padding: 0;
    margin: 1em;
    margin-top: 0;
    width: 55%;
    margin-right: 8rem;
    height: 1px;
}


/* HEADER SECTION */

.action-buttons {
    display: flex;
}

.action-buttons ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started {
    display: flex;
    width: 10.2rem;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50%;
    flex-direction: column;
}

.main-content .contactDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50%;
    flex-direction: column;
}

.content h1 {
    line-height: 3em;
}

#last-two-sentences {
    line-height: 2.7em;
}

#sentence-1 {
    flex-direction: column;
    letter-spacing: -5px;
    font-size: 3.3em;
    font-weight: 620;
}

#sentence-2 {
    letter-spacing: -3px;
    font-weight: 300;
    font-size: 3em;
}


#sentence-3 {
    letter-spacing: -3px;
    font-weight: 100;
    font-size: 2.5em;
    font-style: italic;
}


/* CONTACT TABLE */

.contact-table {
    text-align: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1.2rem 1.5rem;

}

.table-header td {
    padding-bottom: 2.5em;
}

.table-header td:nth-child(1) {
    padding-bottom: 2.5em;
    font-weight: 600;
    font-size: 1.2em;
}

thead tr:nth-child(2) th {
    padding-bottom: 1em;
}

.table-actions td {
    width: 10px;
}

.table-body tr>td {
    padding: 0;
    padding-bottom: 1em;
    border-top: 1px solid black;
    padding-top: 1em;
}

.table-contact-info td {
    width: 2em;
}

#first-section>td {
    border: none;
}


/* SEARCH AREA */
.search-model {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-family: sans-serif;
}

.search-key-text {
    font-size: 0.9rem;
    font-weight: 300;
}

.search-key-text span {
    font-style: italic;
    font-weight: 800;
    font-size: 1.2rem;
}

.fake-search-button {
    background-color: black;
    margin-left: 2em;
    color: white;
    border: none;
    border-radius: 100em;
    padding: 0.8em 1.2em;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

/*  FORM DIVS */

#signUpDiv,
#loginDiv {
    text-align: center;
    border: 1px solid black;
    border-radius: 1.2rem;

}

#signUpDiv input,
#loginDiv input {
    margin: 2vh;
    text-align: center;
    margin-top: 2vh;
    border: 2px solid;
    border-radius: 3vh;
    border-color: black;
    margin: 0.5vh 4vh;
}

#inner-title {
    display: block;
    font-weight: 600;
    font-size: 3vh;
    border-bottom: 1px solid;
    padding: 1vh 2vh;
    margin-bottom: 2vh;
    background-color: black;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

#signUpButton,
#loginButton {
    color: white;
    border: 2px solid;
    margin-top: 2vh;
    border-color: black;
    background-color: black;
    border-radius: 1rem;
    padding:0.4rem 0.7rem;
    margin-bottom: 2vh;
}

#signUpButton:hover,
#loginButton:hover {
    border: 2px solid;
    border-color: black;
    background-color: rgb(255, 157, 157);
    border-radius: 1rem;
}

#signUpButton:active,
#loginButton:active {
    border: 2px solid;
    margin-top: 2vh;
    border-color: black;
    background-color: black;
    border-radius: 1rem;
    color: white;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0%;
    text-align: center;
    left: 0;
    width: 100%;
}

.signup-login-label {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}

.firstname-label { grid-area: fl; }
.firstname-input { grid-area: fi; }
.lastname-label { grid-area: ll; }
.lastname-input { grid-area: li; }
.username-label { grid-area: ul; }
.username-input { grid-area: ui; }
.password-label { grid-area: pl; }
.password-input { grid-area: pi; }

.signup-fields {
    display: grid;
    grid-template-areas:
        'fl fl fl fi fi fi fi fi ll ll ll li li li li li'
        'ul ul ul ul ul ul ui ui ui ui ui ui ui ui ui ui'
        'pl pl pl pl pl pl pi pi pi pi pi pi pi pi pi pi';
    gap: 0px;
    padding: 30px;
}

.login-fields {
    display: grid;
    grid-template-areas:
        'ul ui ui'
        'pl pi pi';
    gap: 0px;
    padding: 30px;
}